// default
@import "scss/default";

// variables
@import "scss/variables";

// fonts
@import "fonts/fonts.scss";

body {
    background-color: var(--bg-dark);
    transition: all 0.3s ease-in-out;

    // main styles
    .main {
        @import "scss/top-bar";
        @import "scss/home-page";
        .history-scroll {
            width:100%;
            // position: absolute;

            @import "scss/history-content";
            @import "scss/history-timer";
        }
        @import "scss/collision";
    }
}
