$width: 1200px;

.history-timer-box {
    width: $width;
    height: $width * 0.618;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // background-color: oklch(0.6 0.15 288);
    opacity: 0; /* hidden by default */
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 0;
    pointer-events: none;
    
    &.in-view {
        opacity: 1;
        z-index: 1;
    }

    .time-line {
        position: absolute;
        right: 10px;
        top: 30px;
        width: 5px;
        height: 80%;
        background-color: hsl(180, 56%, 61%);
        position: relative;

        .progress {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0%;
            background-color: hsl(180, 56%, 61%);
            transition: height 0.2s ease;
        }
    }
}
